@font-face {
    font-family: 'wubba_lubba_dub_dubregular';
    src: url('./assets/fonts/wubbalubbadubdub-webfont.woff') format('woff2'),
         url('./assets/fonts/wubbalubbadubdub-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    background: url(./assets/images/wallpaper.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Loading */
.timingBack {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    transition: opacity 1s;
}

.timingBack.opacity {
    opacity: 0;
}

.loadingDiv h2 {
  text-align: center;
}

.loadingDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loadingDiv h2 {
    font-family: 'wubba_lubba_dub_dubregular';
    font-size: 3rem;
    color: rgb(0, 137, 69);
    text-shadow: 0 0 3px yellow;
    margin-bottom: 5px;
}

.portal {
    width: 200px;
    animation: 3s portalAnimation linear infinite;
}
.loadingBtn {
  font-family: 'wubba_lubba_dub_dubregular';
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 5px 20px 5px 20px;
  opacity: 0;
  border-radius: 10px;
  background-color: rgb(0, 137, 69);
  color: yellow;
  border: none
}
.appearBtn {
  animation: appearBtn 1s;
  animation-fill-mode:both;
  z-index: 1;
  transition: 0.2s scale, 0.2s background-color, 0.2s color;
}
.appearBtn:hover {
    scale: 1.1;
    cursor: pointer;
    background-color: yellow;
    color: rgb(0, 137, 69);
}
@keyframes portalAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg)
    }
}
@keyframes appearBtn {
    0% {
        opacity: 0;
        transform: translate(0, 200px);
    }
    100% {
        display: block;
        opacity: 1;
        transform: translateX(0);
    }
}
/* Game*/
.divScore h2 {
    font-family: 'wubba_lubba_dub_dubregular';
    font-size: 1.5rem;
    color: rgb(0, 26, 13);
    text-shadow: 0 0 3px rgb(78, 85, 0);
    margin: 0 0 0 10px;
}

.gameBoard {
    justify-content: center;
    display: grid;
    margin: 30px;
    grid-template-columns: repeat(4, 300px);
}
.card {
  display: grid;
  background: rgb(2,233,1);
  background: linear-gradient(0deg, rgba(2,233,1,1) 0%, rgba(200,204,6,1) 60%, rgba(255,0,181,1) 100%);
  width: min-content;
  padding: 5px;
  border-radius: 20px;
  transition: 0.2s transform;
  animation-fill-mode: both;
  animation: 0.5s appearCard;
  margin-bottom: 20px;
}
@keyframes appearCard {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card:hover {
    box-shadow: 0 0 20px yellow;
    transform: scale(1.1);
    cursor: pointer;
}
.card img {
  width: 250px;
  border-radius: 20px;
}

.card h3 {
    text-align: center;
    line-height: 35px;
    font-family: 'wubba_lubba_dub_dubregular';
    font-size: 2rem;
    color: rgb(218, 237, 0);
    text-shadow: 0 0 20px rgb(208, 1, 181);
    margin: 10px;
}
.divCongratulations {
    background-color: black;
    opacity: 0.8;
}
.congratulations {
    text-align: center;
    font-family: 'wubba_lubba_dub_dubregular';
    font-size: 3rem;
    color: rgb(210, 229, 2);
    text-shadow: 0 0 30px rgb(61, 0, 53);
    margin-top: 200px;
    padding: 10px;
}